<body data-spy = "scroll" data-target = ".navbar-example">

	<div class="vidi">
		 <article>
				 <h1>MAFIA GAME</h1>
		 </article>
		 
		<video autoplay="" loop="" class="fillWidth fadeIn animated" poster="https://s3-us-west-2.amazonaws.com/coverr/poster/Traffic-blurred2.jpg" id="video-background">
				<source src="https://s3-us-west-2.amazonaws.com/coverr/mp4/Traffic-blurred2.mp4" type="video/mp4">
		</video>
	</div>

	<br><br><br><br><br><br><br><br>


	<div class="page-header">
		<span><i class="fa fa-bullhorn fa-2x" style="color: red"></i>
		현재 접속자 인원 :</span>
		<span id="info-messages"></span>
		<span>명</span>
		<p>Signed in as @<%= cookies.signed[:username] %>.</p>
	</div>

<!-- 
	<%=image_tag "moon1.jpg", :id => "img1" ,height: '470px' ,width: '360px'%> -->

	<div class="row">
		<div class="col-xs-4">
			<div class="chatting_space civilchat" id="day-chat">
				<div class="outside" id="day-messages">
					</div>
					<label for="civil" style="color: black">CIVIL's</label>
					<div class="form-group" id="input_day">
		                <textarea class="form-control" rows="5" id="chat-speak"></textarea>
		                </div>
				</div>
			</div>

		<div class="col-xs-4">
			<div class="chatting_space mafiachat" id="night-chat">
				<div class="outside" id="night-messages">
					</div>
					<label for="mafia" style="color: white">MAFIA's:</label>
					<div class="form-group" id="input_night">
			           <textarea class="form-control" rows="5" id="chat-talk"></textarea>
			           </div>
			     </div>
			</div>

		<div class="col-xs-3">
			<div class="chatting_info">
			<h3>user info</h3>
			<div id="chatting-info-items"></div>
			</div>
			</div>
		
		<div class="col-xs-1">
			<div class="chatbtn">

			<% if current_user.id == Game.last.master_id %>
				<div id="night" class="btn btn-primary">밤</div>
				<div id="day" class="btn btn-primary">낮</div>
				
				<div id="start_game" class="btn btn-primary">start game</div>

				<br><br><br>

			  	<div id="player1" class="btn btn-primary btn-xs"><i class="fa fa-gavel fa-lg" style="color: red"></i>P1</div>
                <div id="player2" class="btn btn-primary btn-xs"><i class="fa fa-gavel fa-lg" style="color: red"></i>P2</div>
                <div id="player3" class="btn btn-primary btn-xs"><i class="fa fa-gavel fa-lg" style="color: red"></i>P3</div>
                <div id="player4" class="btn btn-primary btn-xs"><i class="fa fa-gavel fa-lg" style="color: red"></i>P4</div>
                <div id="player5" class="btn btn-primary btn-xs"><i class="fa fa-gavel fa-lg" style="color: red"></i>P5</div>
                <div id="player6" class="btn btn-primary btn-xs"><i class="fa fa-gavel fa-lg" style="color: red"></i>P6</div>
                <div id="player7" class="btn btn-primary btn-xs"><i class="fa fa-gavel fa-lg" style="color: red"></i>P7</div>
                <div id="player8" class="btn btn-primary btn-xs"><i class="fa fa-gavel fa-lg" style="color: red"></i>P8</div>
                <div id="player9" class="btn btn-primary btn-xs"><i class="fa fa-gavel fa-lg" style="color: red"></i>P9</div>
                <div id="player10" class="btn btn-primary btn-xs"><i class="fa fa-gavel fa-lg" style="color: red"></i>P10</div>
			   <br><br><br>
			<% end %>
				<!-- <div class="dropdown">
				  <button class="dropbtn">Kill</button>
				  <div class="dropdown-content">
				  	<% Game.last.mapia.each do |mapium| %>
				  		<%= content_tag :div, class: "kill-button", id: "kill-mapium-#{mapium.id}" do %>
				  			<i class="fa fa-gavel fa-lg" style="color: red"></i><%= "P#{mapium.id}" %>
				  		<% end %>
				  	<% end %>
				  </div>
				</div>
				<br> -->

				 <table class="table table-bordered">
				    <thead>
				      <tr>
				        <th>User</th>
				        <th>Role</th>
				      </tr>
				    </thead>
				     <tbody>
				      <tr>
				     <% Game.last.users.each do |user| %> 
				        <td><%= user.name %></td>
				        <% if current_user.id == Game.last.master_id %>
				        	<td><%= user.mapia.last.role %></td>
				        <%else%>
				        	<td>secret</td>
				        <%end%>
				        </tr>
				       <% end %>	      
				     </tbody>
				  </table>
			</div>
		</div>
	</div>


	<div class="modal fade" id="myModal" role="dialog">
     <div class="modal-dialog">
 
        <div class="modal-content">
	         <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal">&times;</button>
	          <h4 class="modal-title">게임 종료</h4>
	         </div>

		     <div class="modal-body">
	           <p align="center">GAME OVER.</p>
	           <%=image_tag "over.png",height: '300px' ,width: '360px'%>
	         </div>

	         <div class="modal-footer">
	          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	         </div>
        </div>
     </div>
     </div> 	


</body>