<p>현재 접속자 인원 :<%= Mapium.all.size %>명</p>
<% Mapium.all.pluck(:player_id).each do |id| %>
<%= User.find(id).name %>
<% end %>

<p>Signed in as @<%= cookies.signed[:username] %>.</p>

<div id='messages'></div>
<br/><br/>

<%= text_field_tag :body, '', id: 'chat-speak' %>
<%= text_field_tag :body, '', id: 'chat-talk' %>