<body data-spy = "scroll" data-target = ".navbar-example">

	<div class="page-header">
		<p>현재 접속자 인원 :<%= Mapium.all.size %>명</p>

		<p>Signed in as @<%= cookies.signed[:username] %>.</p>

		<%dayNight = 1%><!-- day default-->
	</div>

	<div>
		<table>
			<tr>
				<td>
				<!-- <div class="thumbnail chatting_room footer">

					<div id='messages'></div>
					<br/><br/>
				</div> -->
				<div class="thumbnail chatting_space">
					<div data-spy = "scroll" data-target = "#navbar-example" data-offset = "0" 
					style = "height:330px; width:250px; overflow:auto; position: relative;">
					<div id='day-messages'></div>
					
					<br/><br/>
				</div>
			</div>


		</td>
		<td>
			<div class="thumbnail chatting_space">
		    <div class= "mafiachat">
				<div data-spy = "scroll" data-target = "#navbar-example" data-offset = "0" 
				style = "height:330px; width:250px; overflow:auto; position: relative;">
					<div id='night-messages'></div>
					
					<br/><br/>
					</div>
			</div>
		</div>


	</td>
	<td>
		<div class="thumbnail chatting_info">
			<h3>user info</h1>
				<%count_user =0 %>
				<% Mapium.all.pluck(:user_id).each do |id| %>
				<%=count_user +=1 %>

				<%= User.find(id).name %>  
				== status : 
				<%if Mapium.find(id).status == 'dead'%>
				dead
				<%else%>
				alive
				<%end%>
				<% if Game.last.master_id == id %>
					!!! ADMIN !!!
				<% end %><br>
				<% end %>
			</div>
		</td>
		<% if current_user.id == Game.last.master_id %>
			<td>
				<div class="thumbnail chatting_info">
					<div id="night" class="btn btn-primary">밤</div>
					<div id="day" class="btn btn-primary">낮</div>
				</div>
			</td>
		<% end %>
	</tr>
	<tr>
		<td>
			Civil chatting<br/>
			<%dayNight = 0%><!-- day -->
			<div style = "width:250px;">
			<%= text_field_tag :body, '', id: 'chat-speak' %>
			</div>
			
		</td>

		<td>
			Mapia's chatting<br/>
			<%dayNight = 1%><!-- nitght -->
			<div style = "width:250px;" >
			<%= text_field_tag :body, '', id: 'chat-talk' %>
			</div>
		</td>
			<td>
		</td>
	</tr>
</table>
</div>

</body>

